/lab_2_kapustin_buck/History
/lab_2_kapustin_buck/__Previews
/lab_2_lyaptsev_buck/__Previews
/lab_2_larionov_buck/project/__Previews
/lab_2_larionov_buck/project/OUTPUT.OutJob
/lab_2_samarin_boost/OUTPUT.OutJob
/lab_2_samarin_boost/__Previews
/lab_2_samarin_boost/History
